@media screen and (max-width:  778px) {
    header{
        display: block;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .Discrição-Perso {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
      }

    .Imagem-Perso{
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: start;
     }
  
    #Imagem-User {
        height: 300px;
        width: 300px;
        border-radius: 50%;
      }
  }
  