@media screen and (max-width:  778px) {
  * {
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #Porfissao {
    margin: 1.5rem 1rem;
    font-size: 40px;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  nav,
  .Narve {
    width: 100%;
    display:none;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  li {
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  #Name-barra {
    display: none;
    color: rgb(67, 67, 68);
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
  }
  
  .Discrição-Perso {
    margin: 0%;
    gap: 2rem;
    display: block;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  #Name-User {
    margin: 1rem;
    white-space: nowrap;
    font-size: 35px;
    font-weight: 900;
    border-right: 4px solid;
    width: 394px;
  }
  
  #Email {
    width: 15rem;
    margin: 1rem 1rem;
    font-size: 15px;
    font-weight: 600;
    color: rgb(157, 157, 160);
    border-bottom: solid 1px rgb(186, 186, 187);
  }
  
  #Founder {
    margin: 1rem 1rem;
    font-size: 40px;
    font-weight: 600;
    color: rgb(33, 33, 34);
  }
  
  .Social-Midias ul {
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    gap: 1rem;
  }
  
  .Social-Midias li {
    height: 2rem;
    width: 36.5rem;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 3px;
    background-color: rgb(202, 202, 204);
  }
  
  #Pequeno-Texto {
    margin: 3rem 1rem;
    width: 605px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
  }
  
  #Traço {
    margin: 1.5rem 0;
    height: 110px;
    width: 3px;
    position: absolute;
    background-color: rgb(54, 54, 54);
  }
  
  .Social-Midias a {
    margin: 0 0.5rem;
    font-size: 27px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(43, 42, 42);
  }
  
  #LowButton {
    background-color: rgb(204, 202, 202);
    margin: 3rem 1rem;
    border-radius: 10px;
    padding: 1.5rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    font-size: 27px;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  .Imagem-Perso{
    display: block;
    align-items: center;
  }
  
  #Imagem-User {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 0;
  }

  main {
    height: 85rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ABOUT {
    height: 100%;
    flex-direction: column;
    display: none;
    align-items: center;
    text-align: center;
  }
  
  #TEXTO-ABOUT {
    display: none;
    height: 350px;
    width: 900px;
    margin: 2rem 0;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
  }
  
  #ABOU {
    margin: 1rem 0;
    font-weight: 900;
    font-size: 35px;
  }
  
  .Tecnologias {
    height: 10%;
    margin: 1rem 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #Html,
  #Css,
  #JavaScript,
  #React,
  #NodeJs,
  #Python,
  #NexJs {
    height: 60px;
    width: 60px;
    font-size: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #Sql {
    height: 60px;
    width: 60px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #TypeScript {
    height: 60px;
    width: 60px;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #PROJECTS{
    text-align: center;
    font-weight: 900;
    font-size: 35px;  
    margin: 1rem 0rem;
  }
  
  .Projetos{
    height: auto;
    width: 100%;
    margin: 3rem 0rem;
    box-sizing: border-box;
    gap: 1rem ;
    display: flex;
  }
  
  #Projecto-1, 
  #Projecto-2, 
  #Projecto-3, 
  #Projecto-4{
    height: 450px;
    width: 300px;
    border-radius: 15px;
    background-color: black;
  }
  
  
  #TopButton{
    background-color: rgb(204, 202, 202);
    position: relative;
    bottom: 0.5rem;
    right: 23em;
    border-radius: 10px;
    padding: 1.5rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    font-size: 25px;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  footer{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .Linha-1{
    height: 70px;
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: solid 3px #c8c8c8;
  }
  
  .Linha-1 h1{
    font-weight: 100;
  }
  
  .Informaçoes-Footer{
    height: 225px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 235, 235);
  }
  
  .Follow{
    height: 220px;
    width: 40%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .Follow h1{
    margin-top: 2rem;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  .Midias-Social{
    height: 200px;  
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  
  #Facebook, 
  #Instagram, 
  #Linkedin {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    color: aliceblue;
  }
  
  .Linha-2{
    margin: 0rem 1rem;
    height: 220px;
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  #Linha-2{
    height: 150px;
    width: 4px;
    background-color: rgb(151, 151, 151);
  }
  
  .Email{
    height: 220px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  
  .Email h1{
    margin-top: 2rem;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  
  .Input.Email{
    height: 30px;
    width: 600px;
    justify-content: center;
    align-items: center;
  }
  
  #Caixa-Email{
    width: 330px;
    height: 30px;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: solid 2px rgba(139, 139, 139, 0.984);
    outline: 0;
    box-shadow: 0 0 0 ;
  }
  
  
    
  #Subit-mite{
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
  }
  
  #Terms{
    text-decoration: none;
    color: #a1a1a1;
  }
  
  .Top-cima{
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #c8c8c8;
  }
  
  #Top-Back{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: black;
  }
  
  }
  