* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#Porfissao {
  margin: 1.5rem 2rem;
  font-size: 45px;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

nav,
.Narve {
  height: 3rem;
  background-color: rgb(250, 250, 250);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Name-barra {
  color: rgb(67, 67, 68);
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
}

.Discrição-Perso {
  margin: 5rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#Name-User {
  white-space: nowrap;
  font-size: 45px;
  font-weight: 900;
  border-right: 4px solid;
  width: 520px;
}

#Email {
  width: 15rem;
  margin: 1rem 1rem;
  font-size: 15px;
  font-weight: 600;
  color: rgb(157, 157, 160);
  border-bottom: solid 1px rgb(186, 186, 187);
}

#Founder {
  margin: 1rem 1rem;
  font-weight: 600;
  color: rgb(33, 33, 34);
}

.Social-Midias ul {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 1rem;
}

.Social-Midias li {
  height: 1rem;
  width: 30rem;
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(202, 202, 204);
}

#Pequeno-Texto {
  margin: 2rem 1.5rem;
  font-weight: 400;
  font-style: italic;
}

#Traço {
  height: 100px;
  width: 3.5px;
  position: absolute;
  background-color: rgb(54, 54, 54);
}

.Social-Midias a {
  margin: 0 0.5rem;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(43, 42, 42);
}

#Low {
  background-color: rgb(204, 202, 202);
  margin: 3rem 1rem;
  border-radius: 10px;
  padding: 1.5rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  font-size: 25px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

#Imagem-User {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin: 0 6rem;
}

main {
  height: 100rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ABOUT {
  height: 100%;
  flex-direction: column;
  display: flex;
}

#TEXTO-ABOUT {
  height: 350px;
  width: 900px;
  margin: 2rem 0;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

#ABOU {
  margin: 1rem 0;
  font-weight: 900;
  font-size: 35px;
}

.Tecnologias {
  height: 10%;
  margin: 1rem 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Html,
#Css,
#JavaScript,
#React,
#NodeJs,
#Python,
#NexJs {
  height: 60px;
  width: 60px;
  font-size: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sql {
  height: 60px;
  width: 60px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#TypeScript {
  height: 60px;
  width: 60px;
  font-size: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
