* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

header{
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}

.Top-barra{
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Portifolio {
  margin: 2rem;
  font-size: 50px;
  font-weight: 900;
}

.Narve{
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(239, 239, 239);
}

.Narve a{
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: rgb(142, 142, 142);
}

.Narve a:hover {
  color: rgb(70, 70, 70);
}

.Painel-1 { 
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.Discrição-Perso {
  height: auto;
  max-width: 45%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#Text-user {
  margin: 1rem 0rem;
  font-size: 40px;
  font-weight: 900;
  border-right: solid 4px #000000;
}

#Email {
  font-size: 15px;
  color : rgb(122, 122, 122);
}

#Founder{
  font-weight: 800;
  font-size: 30px;
  color: rgb(89, 89, 89);
}

#Pequeno-Texto {
  margin: 1rem 0rem;
  font-size: 15px;
  font-weight: 500;
}

.Social-Midias {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Social-Midias ul {
  height: 100%;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.Social-Midias li {
  height: 3rem;
  border-radius: 5px;
  background-color: #b1b1b1;
  display: flex;
  align-items: center;
}

.Social-Midias a,  i {
  margin: 0rem 0.5rem;
  display: flex;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: #1a1919;
}

.Imagem-Perso{
  height: auto;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Imagem-User{
  max-height: 35vw;
  max-width: 35vw;
  border-radius: 50%;
}

main{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#About{
  margin: 1rem;
  font-size: 35px;
  text-align: center;
  font-weight: 900;
}

.ABOUT {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Text-About {
  font-size: 24px;
  text-align: center;
  margin: 1rem 6rem;
  padding: 1rem 4rem;
}

.Tecnologias {
  height: 15rem;
  margin: 1rem; 
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Skills {
  width: 10rem;
  padding: 0.5rem;
  max-height: 5rem;
  background-color: #cecece;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
}

#Skills-Icones {
  margin: 1rem;
  height: 5rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#html, 
#css, 
#JavaScript,
#Python, 
#react, 
#node, 
#git, 
#github {
  font-size: 40px;
  color: #151515;
}

#typescript{
  font-size: 35px;
  color: #151515;
}

#nextjs{
  font-size: 40px;
  color: #151515;
}

#Projecto {
  padding: 0.5rem;
  margin: 1.5rem;
  text-align: center;
  font-weight: 900;
}

.Projectos {
  width: 100%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.Narve-2 {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Narve-2 a {  
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  color: #6b6b6b;
}

.Narve-2 a:hover {  
  color: #141414;
}

#Card-1, 
#Card-2, 
#Card-3, 
#Card-4 {
  min-width: 400px;
  margin: 0rem 4rem;
  height: 20rem;
  border-radius: 20px;
  border: 2px solid rgb(233, 233, 233);
  width: 90%;
  background-color: #ededed;
  backdrop-filter: blur(10px);
}

