* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
  }

  .ModeLight {
      --backgtound-Color: #ececec;
      --backgtound-Nav-color: #e6e6e6;
      --backgtound-Nav-a-Color: #a3a3a3;
      --backgtound-Nav-a-houve: #181818;
      --backgtound-Texto: #141414;
      --backgtound-Texto-pequeno: #3b3b3b;
      --backgtound-a-Icons: #1f1e1e;
      --backgtound-Cards-icons: #1d1d1d;
      --backgtound-Button: #1a1919;

  }

  header{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--backgtound-Color);
  }
  
  .Top-barra{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #Portifolio {
    margin: 2rem;
    font-size: 50px;
    font-weight: 900;
    color: var(--backgtound-Icons);
  }
  
  .Narve{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--backgtound-Nav-color);
  }
  
  .Narve a{
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: var(--backgtound-Nav-a-Color);
  }
  
  .Narve a:hover {
    color: var(--backgtound-Nav-a-houve);
    transition: all 500ms;
  }
  
  .Painel-1 { 
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }

  #Name-Perso {
    font-size: 50px;
    font-weight: 900;
    color: var(--backgtound-Texto);
  }
  
  .Discrição-Perso {
    height: auto;
    max-width: 45%;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #Email {
    font-size: 15px;
    color : var(--backgtound-Texto-pequeno);
  } 
  
  #Founder{
    font-weight: 800; 
    font-size: 30px;
    color: var(--backgtound-Texto-pequeno);
  }
  
  #Pequeno-Texto {
    margin: 1rem 0rem;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    border-right: solid 5px var(--backgtound-Texto-pequeno);
  }
  
  .Social-Midias {
    height: 35%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Social-Midias a {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: var(--backgtound-Nav-color);
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    color: var(--backgtound-a-Icons);
  }

  .Social-Midias a:hover {
    background-color: var(--backgtound-a-Icons);
    color: #ffffff;
    transition: all 1000ms;
  }

  .Social-Midias i {
    font-size: 20px;
    font-weight: 900;
    margin-left: 1rem;
  }
  
  #LowButton{
    height: 65px;
    width: 65px;
    cursor: pointer;
    border-radius: 70px;
    border: none;
    background-color: var(--backgtound-Button);
    transition: all 500ms;
  }

  #LowButton:hover{
    height: 70px;
    width: 70px;
    transition: all 500ms;
  }
  
  #LowButton i {
    font-size: 30px;
    color: white;
  }
  
  .Imagem-Perso{
    height: auto;
    width: 55%;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  
  #Imagem-User{
    max-height: 30vw;
    margin: 60px;
    max-width: 30vw;
    border-radius: 50%;
  }

