#Traço-1, #Traço-2 {
    background-color: var(--Color-nav-animetino);
    transition: all 300ms;
    height: 6px;
  }

  .nav-hide {
    top: -5px; 
    right: 30px; 
    z-index: 3;
    position: fixed;
    width: auto;
    transform: translateY(-80%);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-show {
    top: 1px; 
    z-index: 3;
    right: 30px; 
    width: auto;
    gap: 2rem;
    transform: translateY(+100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
  }

  .Nav_animation-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .Nav_animetion {
    height: 100%;
    width: 25%;
    z-index: 1;
    background-color: var(--Backgtound-color-nav-animetion);
    position: fixed;
    top: 0;
    right: 0;
  } 

  .Nav_animetion nav {
    height: 75%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: end;
  }

  .Nav_animetion ul {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
  }

  .Nav_animetion ul a {
    margin: 0 18rem;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }

  .Nav_animetion .Botao_Modo {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


