main{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Backgtound-fundo-Color);
    transition: all 300ms;
  }

  .Main h1 {
    margin: 2rem;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    color: var(--Color-Texto-pequeno);
  }
  
  .ABOUT {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #Text-About {
    font-size: 35px;
    text-align: center;
    margin: 2rem 6rem;
    padding: 2rem 4rem;
    color: var(--Color-about--text);
    transition: all 300ms;
  }
  
  .Tecnologias {
    height: 15rem;
    margin: 1rem; 
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Projectos { 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

