.card-backdrop-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
    align-self: center;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    z-index: 1000;
}

.card-details-project {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: 5rem;
    left: 0%;
    background: var(--Backgtound-fundo-Color);
    display: flex;
}

.card-button-close {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.close-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: var(--Color-button-close-carddeltails);
    margin: 2rem;
    font-size: 25px;
    font-weight: 900;
    background-color: var(--Color-texte-portifolio);
    border: none;
}