.Container_projects {
  height: auto; 
  min-height: 100vh; 
  width: 100%;
  background-color:  var(--Background-fundo-Color);
  gap: 1rem;
  display: flex;
  flex-direction: column; 
  margin: 2rem 0;
}
#Projecto_name {
  margin: 3rem;
  padding: 2rem;
  font-size: clamp(2rem, 5vw, 4rem); 
  font-weight: 900;
  text-align: center;
  color: var(--Color-Texto-pequeno);
}

.Container_Card {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Container_Card img {
  margin: 2rem;
  animation: alternate ease;
  height: auto;
  max-width: 100%;
  transition: all 2s ease;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.Container_Card  img.active {
  opacity: 1;
  position: relative;
}

.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .zoom-container {
    overflow: hidden;
  }
  
  .zoom-container img {
    filter: grayscale(100%);
    transition: transform 0.3s ease;
  }
  
  .zoom-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    .Container_projects {
      flex-direction: column;
      margin: 1rem;
    }
  
    .Container_Card img {
      max-width: 100%;
      height: auto;
    }
  
    #Projecto_name {
      font-size: 2rem; /* Diminui o tamanho da fonte em telas menores */
      margin: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    #Projecto_name {
      font-size: 1.5rem; /* Diminui ainda mais para telas muito pequenas */
    }
  
    .Container_Card img {
      max-width: 100%;
      height: auto;
    }
  }
  

