@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  } 

  .ModeLight {
      --Color-texte-portifolio: #242323;
      --Color-button-Light-Dark: #242323;
      --Backgtound-fundo-Color: #f3f2f2;
      --Backgtound-color-nav: #e0e0e0;
      --Backgtound-color-nav-animetion: #e0e0e0;
      --Color-nav-a: #a3a3a3;
      --Color-nav-animetino: #242323;
      --Color-nav-a-houve: #181818;
      --Color-buttom-br-en: #e0e0e0;
      --Color-texto: #242424;
      --Color-icons-redes: #242424;
      --Backgtound-cards-icons-houver: #919191;
      --Color-Texto-pequeno: #242323;
      --Backgtound-cards-icons: #e0e0e0;
      --Color-icons-a: #ffffff;
      --Backgtound-a-Icons: #1f1e1e;
      --Backgtound-button-low: #1a1919;
      --Color-card--skills: #e0e0e0;
      --Color-about--text: #242424;
      --Color-traço--nav-2: #242424;
      --Backgtound-color-card-projetcs: #e0e0e0;
      --Color-icons--projetcs: #242424;
      --Color-texto-footer-h1: #e0e0e0;
      --Color-buttons-footer: #272525;
      --Color-buttins-border-top-footer: #ffffff;
      --Color-text-buttons-foote-hover: #ffffff;
      --Color-text-buttons-foote: #272525;
  }

  .ModeDark {
    --Color-texte-portifolio: #eeeeee;
    --Color-button-Light-Dark: #f7f7f7;
    --Backgtound-fundo-Color: #1b1b1b;
    --Backgtound-color-nav: #272525;
    --Backgtound-color-nav-animetion: #272525;
    --Color-nav-a: #ebebeb;
    --Color-nav-animetino: #f7f7f7;
    --Color-nav-a-houve: #979797;
    --Color-buttom-br-en: #686868;
    --Color-texto: #eeeeee;
    --Color-icons-redes: #eeeeee;
    --Color-Texto-pequeno: #eeeeee;
    --Backgtound-cards-icons: #272525;
    --Backgtound-cards-icons-houver: #535353;
    --Color-icons-a: #272525;
    --Backgtound-a-Icons: #eeeeee;
    --Backgtound-button-low: #eeeeee;
    --Color-button-low-i: #272727;
    --Color-card--skills: #e0e0e0;
    --Color-about--text: #eeeeee;
    --Color-traço--nav-2: #eeeeee;
    --Backgtound-color-card-projetcs: #272525;
    --Color-icons--projetcs: #eeeeee;
    --Color-texto-footer-h1: #272525;
    --Color-buttons-footer: #eeeeee;
    --Color-text-buttons-foote: #eeeeee;
    --Color-text-buttons-foote-hover: #272525;
    --Color-buttins-border-top-footer: #272525;
}


header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--Backgtound-fundo-Color);
  transition: all 300ms;
}
  
.Barra_top {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Portifolio {
  margin: 2rem;
  font-size: clamp(3rem, 10vw, 1.5rem);
  font-weight: 900;
  color: var(--Color-texte-portifolio);
  transition: all 300ms;
}

.Botao_Modo button {
  font-size: 17px;
  color: var(--Color-button-Light-Dark);
  transition: all 300ms;
}

.Container-Buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: clamp(1rem, 3vw, 2rem);
  width: auto;   
  margin: 2rem;
  display: flex;
}

.lingua {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
  
.lingua button {
  font-size: 15px;
  font-weight: bold;
  color: var(--Color-buttom-br-en);
  transition: all 300ms;
}

.Narve {
  height: 5rem;
  margin: 0rem 2rem;
  display: flex;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Backgtound-color-nav);
  transition: all 300ms;
}
  
.Narve a {
  text-decoration: none;
  color: var(--Color-nav-a);
  font-weight: 900;
  font-size: clamp(14px, 3vw, 24px); 
  animation: reverse all 1000ms;
  transition: all 300ms;
}

.Narve a:hover {
  color: var(--Color-nav-a-houve);
  animation: reverse all 1000ms;
}

.Painel-1 { 
  height: 100%;
  display: flex;
  box-sizing: border-box;
} 
  
.Painel-Perso {
  width: 100%;
  margin: 4rem;
  display: flex;
  gap: 0.5rem;
}

.Painel-img-rede {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}
   
#Imagem-User{
  width: auto;
  border-radius: 5%;
  display: flex;
  object-fit: cover;
}

#Animetion-text {
  margin: 1rem 0rem;
  font-size: clamp(1.5rem, 5vw, 5rem);
  font-weight: 900;
  color: var(--Color-Texto-pequeno);
  transition: all 300ms;
}

#Animetion-text:after {
  content: '|';
  margin-left: 8px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca{
0%, 100% {
  opacity: 1;
}
50% {
   opacity: 0;
}
}

.Container-discrition {
  height: 100%;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

#Email {
  font-size: 20px;
  color : var(--Color-Texto-pequeno);
  transition: all 300ms;
} 
  
#Founder {
  font-weight: 800; 
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  color: var(--Color-Texto-pequeno);
  transition: all 300ms;
}
  
#Texto-mini {
  height: auto;
  width: 100%;
  display: flex;
  margin: 1.5rem 0rem;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 1.7rem);
  color: var(--Color-Texto-pequeno);
  border-right: solid 5px var(--Color-Texto-pequeno);
  transition: all 300ms;
}
  
.Social-Midias {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}

.CircularText {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: end;
  align-items: center;
}
  
.Social-Midias a {
  height: clamp(60px, 10vw, 75px); 
  font-size: clamp(1rem, 3vw, 1.1rem); 
  width: 100%;
  display: flex;
  background-color: var(--Backgtound-cards-icons);
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: var(--Backgtound-a-Icons);
  transition: all 300ms;
}

.Social-Midias a:hover {
  background-color: var(--Backgtound-cards-icons-houver);
  transition: all 1000ms;
}

.Social-Midias i {
  font-size: clamp(1.2rem, 3vw, 1.3rem); 
  font-weight: 900;
  color: var(--Color-icons-redes);
  margin-left: 1rem;
  transition: all 300ms;
}

@media (max-width: 480px) {
.Painel-img-rede {
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Container-discrition {
  width: 100%;
  max-width: 90%;
  margin: 0rem 0.5rem;
  align-items: center;
}

.Barra_top {
  display: flex;
  padding: 0.5rem;
}

#Portifolio {
  font-size: 1.7rem;
  margin: 0.5rem;
}

.Container-Buttons {
  display: flex;
  gap: 0.8rem,;
}

.Botao_Modo {
  display: flex;
  justify-content: center;
  margin: 0rem 1.5rem;
}

.Narve {
  display: none;
}

.Painel-Perso {
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.Conteiner-Image {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Imagem-Perso {
  height: 100%;
  width: 100%;
  display: flex;
}

#Imagem-User {
  height: 225px;
  width: 210px;
  border-radius: 10%;
}

.Social-Midias {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#Texto-mini {
  height: auto;
  width: 100%;
  display: flex;
  margin: 0.5rem 0rem;
  align-items: center;
}

#Founder{
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

#Email {
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

#Pequeno-Texto {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
}

.Discrição-Perso {
  font-size: 1.2rem;
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap-reverse;
}

.Social-Midias {
  margin-right: 1rem;
}

.Imagem-Perso {
  height: 4rem;
  width: 70%;
  margin: 3 auto; 
}

#Imagem-User {
  max-width: 65%; 
  height: auto; 
}
   
  }


 @media (max-width: 768px) {

.Imagem-Perso {
   width: 70%; 
}

#Imagem-User {
  max-width: 80%; 

.Top-barra {
  flex-direction: column;
  height: auto; 
}

.div_buttons {
  width: 100%;
  flex-direction: column;
  margin: 1rem;
}

.Painel-1 {
  flex-direction: column;
}

.Discrição-Perso, .Imagem-Perso {
  width: 100%;
}

#Pequeno-Texto {
  font-size: 0.9rem; 
}

#Name-Perso, #Portifolio {
  font-size: 40px;
}

.Narve {
  margin: 0 1rem;
}
}

 @media (max-width: 1024px) {
.Imagem-Perso {
  width: 60%; 
}
  
.Painel-1 {
  flex-direction: column; 
}

.Discrição-Perso {
  width: 100%;
}

.Imagem-Perso {
  width: 100%;

}
}}
